In [35]:
import pandas as pd
import requests
import pymongo
from sqlalchemy import create_engine

In [36]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [37]:
db = client.commerce_db
collection = db.items

Get the schedule Data for Vancouver, Boston, Nashville

In [38]:
url = 'http://data.streetfoodapp.com/1.1/schedule/vancouver'

data =  requests.get(url).json()
dfVan = pd.DataFrame.from_dict(data)
dfVan.head()

,metadata,vendors
ads,"[{'banner': {'identifier': 'memphis-mikes', 'i...",NaN
new,"[burgerland-smash-up, fisherman-franks, bang-t...",NaN
regions,"[{'identifier': 'vancouver', 'name': 'Vancouve...",NaN
arturos-to-go,NaN,"{'description_short': 'Authentic, author gourm..."
babas-house,NaN,"{'description_short': None, 'identifier': 'bab..."

In [39]:
url = 'http://data.streetfoodapp.com/1.1/schedule/boston'

data=  requests.get(url).json()
dfBos = pd.DataFrame.from_dict(data)
dfBos.head()

,metadata,vendors
ads,"[{'banner': {'identifier': 'roxys', 'image_url...",NaN
new,"[vaz-mac-tex-mex, tres-latinas, bon-me-10, bon...",NaN
regions,"[{'identifier': 'boston', 'name': 'Boston', 't...",NaN
bon-me,NaN,"{'description_short': None, 'identifier': 'bon..."
bon-me-10,NaN,"{'description_short': None, 'identifier': 'bon..."

In [40]:
url = 'http://data.streetfoodapp.com/1.1/schedule/tallahassee'

data=  requests.get(url).json()
dfTalla = pd.DataFrame.from_dict(data)
dfTalla.head()

,metadata,vendors
ads,"[{'banner': {'identifier': 'el-criollo', 'imag...",NaN
new,"[hyppo-pops, lugos-burrito, old-skool, lasang-...",NaN
regions,"[{'identifier': 'tallahassee', 'name': 'Tallah...",NaN
big-easy-snowballs,NaN,{'description_short': 'Traditional New Orleans...
el-criollo,NaN,{'description_short': 'Authentic homemade Puer...

Engine Connection and push data

In [41]:
rds_connection_string = "postgres:postgres@localhost:5432/FoodTruck_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [42]:
engine.table_names()

<ipython-input-42-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['vancouver', 'boston', 'tallahassee']

In [43]:
dfVan.to_sql(name='vancouver', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'dict'
[SQL: INSERT INTO vancouver (metadata, vendors) VALUES (%(metadata)s, %(vendors)s)]
[parameters: ({'metadata': [{'banner': {'identifier': 'memphis-mikes', 'image_url': 'https://cdn.streetfoodapp.com/images/memphis-mikes/logo/90w.png', 'image_url_2x': 'https://c ... (39 characters truncated) ... es/logo/90w@2x.png', 'title': "Memphis Mike's BBQ", 'subtitle': 'Southern-style comfort food and lip smacking BBQ.', 'show_vendor': 'memphis-mikes'}}], 'vendors': None}, {'metadata': ['burgerland-smash-up', 'fisherman-franks', 'bang-tastee', 'bajas-food', 'rosies-bbq', 'camion-cafe', 'very-good-butchers', 'oakridge', 'the-brownie-bakers', 'bistrotvan'], 'vendors': None}, {'metadata': [{'identifier': 'vancouver', 'name': 'Vancouver', 'time_zone': 'America/Vancouver', 'example_location': [], 'regions': [{'identifier': 'armoury-distri ... (2258 characters truncated) ... ocation': [], 'regions': []}, {'identifier': 'squamish', 'name': 'Squamish', 'time_zone': 'America/Vancouver', 'example_location': [], 'regions': []}], 'vendors': None}, {'metadata': None, 'vendors': {'description_short': 'Authentic, author gourmet Mexican made with the finest ingredients hand picked.', 'identifier': 'arturos-to-go', 'name': 'artur ... (1749 characters truncated) ... 'display': 'Howe St & W Cordova St', 'updated': 1581359129, 'latitude': 49.2864661, 'longitude': -123.113481}], 'open_updated': 1633977000, 'rank': 8}}, {'metadata': None, 'vendors': {'description_short': None, 'identifier': 'babas-house', 'name': "Baba's House", 'region': 'vancouver', 'url': 'babashousekitchen.com', 'phone': '(778 ... (639 characters truncated) ... 00 Argyle Ave, West Vancouver", 'latitude': 49.32604531, 'longitude': -123.15101924}, 'catering': None, 'open': [], 'open_updated': None, 'rank': 113}}, {'metadata': None, 'vendors': {'description_short': None, 'identifier': 'bajas-food', 'name': "Baja's Food", 'region': 'vancouver', 'url': 'BajasFood.com', 'phone': '(778) 926-7089 ... (432 characters truncated) ... Wallace Mews, North Vancouver', 'latitude': 49.30991598, 'longitude': -123.07988782}, 'catering': None, 'open': [], 'open_updated': None, 'rank': 111}}, {'metadata': None, 'vendors': {'description_short': None, 'identifier': 'bang-tastee', 'name': "Bang Tastee's Food Truck", 'region': 'vancouver', 'url': 'instagram.com/bangtastees' ... (1044 characters truncated) ... ia St & Thurlow St, Vancouver', 'updated': 1633443316, 'latitude': 49.28573699, 'longitude': -123.12312739}], 'open_updated': 1633443316, 'rank': 117}}, {'metadata': None, 'vendors': {'description_short': 'Handmade, always fresh. Tacos, burritos, quesadillas, ceviche.', 'identifier': 'bc-taco', 'name': 'BC TACO', 'region': 'vancouv ... (2433 characters truncated) ... s - 2805 Murray St, Port Moody', 'updated': 1604276716, 'latitude': 49.27886813, 'longitude': -122.84993495}], 'open_updated': 1604276758, 'rank': 73}}  ... displaying 10 of 108 total bound parameter sets ...  {'metadata': None, 'vendors': {'description_short': 'Beef brisket, pulled pork, and BBQ pulled chicken from a locally owned southern BBQ food truck.', 'identifier': 'yobones', 'nam ... (2263 characters truncated) ... , 'display': 'Yo-Bones Kitchen', 'updated': 1633415407, 'latitude': 49.23229015, 'longitude': -123.03045336}], 'open_updated': 1633415407, 'rank': 59}}, {'metadata': None, 'vendors': {'description_short': None, 'identifier': 'yokabai-burger', 'name': 'WaKwak Burger', 'region': 'vancouver', 'url': None, 'phone': '(778) 998-0285', 'e ... (940 characters truncated) ... nville St, Vancouver, BC , カナダ', 'updated': 1633396391, 'latitude': 49.28448018, 'longitude': -123.11519075}], 'open_updated': 1633396391, 'rank': 32}})]
(Background on this error at: https://sqlalche.me/e/14/f405)