In [45]:
import pandas as pd
import requests

Get the schedule Data for Vancouver, Boston, Nashville

In [46]:
url = 'http://data.streetfoodapp.com/1.1/schedule/vancouver'

data =  requests.get(url).json()
dfVan = pd.DataFrame.from_dict(data)
dfVan.head()

,metadata,vendors
ads,"[{'banner': {'identifier': 'crack-on', 'image_...",NaN
new,"[burgerland-smash-up, fisherman-franks, bang-t...",NaN
regions,"[{'identifier': 'vancouver', 'name': 'Vancouve...",NaN
arturos-to-go,NaN,"{'description_short': 'Authentic, author gourm..."
babas-house,NaN,"{'description_short': None, 'identifier': 'bab..."

In [47]:
url = 'http://data.streetfoodapp.com/1.1/schedule/boston'

data=  requests.get(url).json()
dfBos = pd.DataFrame.from_dict(data)
dfBos.head()

,metadata,vendors
ads,"[{'banner': {'identifier': 'roxys', 'image_url...",NaN
new,"[vaz-mac-tex-mex, tres-latinas, bon-me-10, bon...",NaN
regions,"[{'identifier': 'boston', 'name': 'Boston', 't...",NaN
bon-me,NaN,"{'description_short': None, 'identifier': 'bon..."
bon-me-10,NaN,"{'description_short': None, 'identifier': 'bon..."

In [48]:
url = 'http://data.streetfoodapp.com/1.1/schedule/tallahassee'

data=  requests.get(url).json()
dfTalla = pd.DataFrame.from_dict(data)
dfTalla.head()

,metadata,vendors
ads,"[{'banner': {'identifier': 'momma-p', 'image_u...",NaN
new,"[hyppo-pops, lugos-burrito, old-skool, lasang-...",NaN
regions,"[{'identifier': 'tallahassee', 'name': 'Tallah...",NaN
big-easy-snowballs,NaN,{'description_short': 'Traditional New Orleans...
el-criollo,NaN,{'description_short': 'Authentic homemade Puer...